.dot-pad{
    background:rgb(255, 120, 232);
    filter: brightness(110%);
    box-shadow: 0 0 15px rgba(255, 120, 232,0.8);
}
.dot-board{
    background: rgb(255, 120, 232);
    filter: brightness(60%) opacity(0.6);
}